HEAD
.idea
*.iml
.cache
alias
versions
node_modules/

test/bak
.urchin.log
.urchin_stdout
test/**/test_output
npm-debug.log

.DS_Store
current
/default-packages

npm-shrinkwrap.json
package-lock.json
yarn.lock